* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gilroy";
}

html,
body {
  height: 100%;
  width: 100%;
}

.main {
  height: 100%;
  width: 100%;
  background-color: rgb(255, 255, 255);
}
.nav {
  height: 100px;
  width: 100%;
  /* background-color: red; */
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 0 30px;
  justify-content: flex-end;
}
.nav h4 {
  font-size: 20px;
  font-weight: 600;
}
.nav i {
  background-color: black;
  color: white;
  border-radius: 50%;
  font-weight: 500;
  font-size: 20px;
  padding: 10px;
}
.center {
  /* height: 50%; */
  width: 100%;
  /* background-color: red; */
  padding: 40px 80px;
}

.center h1 {
  font-size: 80px;
  font-weight: 500;
  line-height: 90px;
}
